<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Font/fontawesome/css/fontawesome-all.css" />
    <include path="~/Content/jquery-ui.min.css" />
    <include path="~/Content/full-calendar/css/fullcalendar.css" />
    <include path="~/Content/full-calendar/css/fullcalendar.print.css" />
    <include path="~/Content/style.css" />
    <include path="~/Content/Site.css" />
  </styleBundle>
</bundles>